---
layout: default
title: Sendpage
stbver: 1.0.3
stbver_file: 1.000003
stbdate: 2008-01-03
devver: 1.1.1
devver_file: 1.001001
devdate: 2009-04-16
---
<table width="640" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td height="50" colspan="2"> 
      <table width="640" border="0" cellspacing="0" cellpadding="0" vspace="0" hspace="0" height="50">
        <tr> 
          <td height="50" valign="bottom" rowspan="2" width="164"><a href="index.php"><img src="img/raccoon-head.jpg" border="0" height="50" width="164"></a></td>
          <td height="33" valign="bottom" width="105">&nbsp;</td>
          <td height="33" valign="bottom" width="55">&nbsp;</td>
          <td height="33" valign="bottom" width="115">&nbsp;</td>
          <td height="33" valign="bottom" width="65">&nbsp;</td>
          <td height="33" valign="bottom" width="96">&nbsp;</td>
        </tr>
        <tr bgcolor="#000066"> 
          <td colspan="1">&nbsp;</td>
          <td align="center" height="18"><a href="downloads.html" class="whiteLink">downloads</a></td>
          <td align="center" height="18"><a href="comparison.html" class="whiteLink">comparison</a></td>
          <td align="center" height="18"><a href="requirements.html" class="whiteLink">requirements</a></td>
          <td align="center" height="18"><a href="links.html" class="whiteLink" onMouseOver="MM_showHideLayers('Layer1','','hide','Layer2','','hide','Layer3','','hide')">links</a></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td height="18" colspan="2" bgcolor="#DAE8F3"><img src="img/spacer.gif" width="10" height="5">home</td>
  </tr>
  <tr align="center"> 
    <td bgcolor="#81AFD2" valign="top" width="320"> <br>
      <table width="290" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="#000066"> 
          <td colspan="5" height="1"><img src="img/spacer.gif" width="1" height="1"></td>
        </tr>
        <tr> 
          <td bgcolor="#000066" width="1" rowspan="3"><img src="img/spacer.gif" width="1" height="1"></td>
          <td bgcolor="#FFFFFF" width="10" rowspan="3">&nbsp;</td>
          <td bgcolor="#FFFFFF" height="5"><img src="img/spacer.gif" width="5" height="5"></td>
          <td bgcolor="#FFFFFF" width="10" rowspan="3">&nbsp;</td>
          <td bgcolor="#000066" width="1" rowspan="3"><img src="img/spacer.gif" width="1" height="1" vspace="0" hspace="0" border="0"></td>
        </tr>
        <tr> 
          <td bgcolor="#FFFFFF" class="bodyCopy" valign="top" width="268"> 
            <p><span class="heading">What is Sendpage?</span><br>
              <br>
{% include what-is.html %}
            <br>
            <br>
          </td>
        </tr>
        <tr> 
          <td bgcolor="#FFFFFF" height="5"><img src="img/spacer.gif" width="5" height="5"></td>
        </tr>
        <tr bgcolor="#000066"> 
          <td colspan="5" height="1"><img src="img/spacer.gif" width="1" height="1"></td>
        </tr>
      </table>
      <br>
      <br>
    </td>
    <td width="320" bgcolor="#81AFD2" valign="top"> <br>
      <table width="290" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="#000066"> 
          <td colspan="5" height="1"><img src="img/spacer.gif" width="1" height="1"></td>
        </tr>
        <tr> 
          <td bgcolor="#000066" width="1" rowspan="3"><img src="img/spacer.gif" width="1" height="1"></td>
          <td bgcolor="#FFFFFF" width="10" rowspan="3">&nbsp;</td>
          <td bgcolor="#FFFFFF" height="5"><img src="img/spacer.gif" width="5" height="5"></td>
          <td bgcolor="#FFFFFF" width="10" rowspan="3">&nbsp;</td>
          <td bgcolor="#000066" width="1" rowspan="3"><img src="img/spacer.gif" width="1" height="1" border="0" vspace="0" hspace="0"></td>
        </tr>
        <tr> 
          <td bgcolor="#FFFFFF" class="bodyCopy" valign="top" width="268"> 
            <p class="heading">Downloads</p>
{% include downloads.html %}
            <br>
          </td>
        </tr>
        <tr> 
          <td bgcolor="#FFFFFF" height="5"><img src="img/spacer.gif" width="5" height="5"></td>
        </tr>
        <tr bgcolor="#000066"> 
          <td colspan="5" height="1"><img src="img/spacer.gif" width="1" height="1"></td>
        </tr>
      </table>
    </td>
    <td rowspan="4">
          <img src="img/spacer.gif" width="30" height="1">  
    </td>
    <td rowspan="4">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- sendpage -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0271172053863578"
     data-ad-slot="8307329304"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </td>
  </tr>
  <tr> 
    <td bgcolor="#81AFD2" valign="top" align="center" colspan="2"><a href="img/S-raccoon.gif"><br>
      <img src="img/Ssm.gif" width="80" height="64" border="0" alt="s"></a><a href="img/E-raccoon.gif"><img src="img/Esm.gif" width="80" height="64" border="0" alt="e"></a><a href="img/N-raccoon.gif"><img src="img/Nsm.gif" width="80" height="64" border="0" alt="n"></a><a href="img/D-raccoon.gif"><img src="img/Dsm.gif" width="80" height="64" border="0" alt="d"></a><a href="img/P-raccoon.gif"><img src="img/Psm.gif" width="80" height="64" border="0" alt="p"></a><a href="img/A-raccoon.gif"><img src="img/Asm.gif" width="80" height="64" border="0" alt="a"></a><a href="img/G-raccoon.gif"><img src="img/Gsm.gif" border="0" alt="g" width="80" height="64"></a><a href="img/E-raccoon.gif"><img src="img/Esm.gif" width="80" height="64" border="0" alt="e"><br>
      </a><br>
    </td>
  </tr>
  <tr> 
    <td bgcolor="#81AFD2" valign="top" align="center"> 
      <table width="290" border="0" cellspacing="0" cellpadding="0" vspace="0" hspace="0">
        <tr bgcolor="#000066"> 
          <td colspan="5" height="1"><img src="img/spacer.gif" width="1" height="1"></td>
        </tr>
        <tr> 
          <td bgcolor="#000066" width="1" rowspan="3"><img src="img/spacer.gif" width="1" height="1"></td>
          <td bgcolor="#FFFFFF" width="10" rowspan="3">&nbsp;</td>
          <td bgcolor="#FFFFFF" height="5" width="479"><img src="img/spacer.gif" width="5" height="5"></td>
          <td bgcolor="#FFFFFF" width="10" rowspan="3">&nbsp;</td>
          <td bgcolor="#000066" width="1" rowspan="3"><img src="img/spacer.gif" width="1" height="1" vspace="0" hspace="0" border="0"></td>
        </tr>
        <tr> 
          <td bgcolor="#FFFFFF" class="bodyCopy" valign="top" width="268"> 
            <p><span class="heading">Why use Sendpage?</span><br>
{% include why-use.html %}
              <br>
            </p>
          </td>
        </tr>
        <tr> 
          <td bgcolor="#FFFFFF" height="5" width="479"><img src="img/spacer.gif" width="5" height="5"></td>
        </tr>
        <tr bgcolor="#000066"> 
          <td colspan="5" height="1"><img src="img/spacer.gif" width="1" height="1"></td>
        </tr>
      </table>
    </td>
    <td bgcolor="#81AFD2" valign="top" align="center"> 
      <table width="290" border="0" cellspacing="0" cellpadding="0" vspace="0" hspace="0">
        <tr bgcolor="#000066"> 
          <td colspan="5" height="1"><img src="img/spacer.gif" width="1" height="1"></td>
        </tr>
        <tr> 
          <td bgcolor="#000066" width="1" rowspan="3"><img src="img/spacer.gif" width="1" height="1"></td>
          <td bgcolor="#FFFFFF" width="10" rowspan="3">&nbsp;</td>
          <td bgcolor="#FFFFFF" height="5" width="479"><img src="img/spacer.gif" width="5" height="5"></td>
          <td bgcolor="#FFFFFF" width="10" rowspan="3">&nbsp;</td>
          <td bgcolor="#000066" width="1" rowspan="3"><img src="img/spacer.gif" width="1" height="1" vspace="0" hspace="0" border="0"></td>
        </tr>
        <tr> 
          <td bgcolor="#FFFFFF" class="bodyCopy" valign="top" width="268"> 
            <p><span class="heading">Why the raccoons?</span><span class="bodyCopy"><br>
{% include why-raccoons.html %}
              <br>
              </span></p>
          </td>
        </tr>
        <tr> 
          <td bgcolor="#FFFFFF" height="5" width="479"><img src="img/spacer.gif" width="5" height="5"></td>
        </tr>
        <tr bgcolor="#000066"> 
          <td colspan="5" height="1"><img src="img/spacer.gif" width="1" height="1"></td>
        </tr>
      </table>
      <BR>
    </td>
  </tr>
  <tr> 
    <td bgcolor="#81AFD2" valign="top" align="center" height="20"><img src="img/spacer.gif" width="320" height="5"></td>
    <td bgcolor="#81AFD2" valign="top" align="center" height="20">&nbsp;</td>
  </tr>
</table>

<table width="100%" hspace="0" vspace="0" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td height="24">&nbsp;</td>
  </tr>
  <tr> 
    <td height="24" bgcolor="#000066">&nbsp;</td>
  </tr>
</table>
