<p>
Since there are a number of good alphanumeric paging packages 
available, I wanted to have a way to compare features and functionality.
As a result, I threw together a quick marketing table, and included 
a bunch of qualities that I found to be important when looking for 
paging software.
<P>
<table border=1>
 <tr>
  <td></td>
  <td><a href="http://beepage.org/">Beepage</a></td>
  <td><a href="http://qpage.org/">QPage</a></td>
  <td>Sendpage</td>
 </tr>
 <tr>
  <td>Delivers pages via TAP over a modem</td>
	<td>Yes</td><td>Yes</td><td>Yes</td>
 </tr>
 <tr>
  <td>Uses daemon for queue management</td>
	<td>Yes</td><td>Yes</td><td>Yes</td>
 </tr>
 <tr>
  <td>Can utilize multiple modems</td>
	<td>Yes</td>
	<td>Yes</td>
	<td>Yes</td>
 </tr>
 <tr>
  <td>Takes pages via SNPP</td>
	<td><font color=red>No</font> (uses TPP)</td>
	<td>Yes</td>
	<td>Yes</td>
 </tr>
 <tr>
  <td>Maintainer's web site has a list of Paging Centrals</td>
	<td><font color=red>No</font></td>
	<td>Yes</td>
	<td>Yes</td>
 </tr>
 <tr>
  <td>Can deliver to separate paging centrals in parallel</td>
	<td>Yes</td>
	<td><font color=red>No</a></td>
	<td>Yes</td>
 </tr>
 <tr>
  <td>Sends Email CCs and status info</td>
	<td>Yes</td>
	<td><font color=red>No</a></td>
	<td>Yes</td>
 </tr>
 <tr>
  <td>Released under the GNU General Public License</td>
	<td><font color=red>No</font> (BSD)</td>
	<td><font color=red>No</font></td>
	<td>Yes</td>
 </tr>
 <tr>
  <td>Written in Perl for easy porting</td>
	<td><font color=red>No</font></td>
	<td><font color=red>No</font></td>
	<td>Yes</td>
 </tr>

</table>
