<p><b>Stable Version</b>:
<a href="download/sendpage-{{page.stbver_file}}.tar.gz">{{page.stbver}} - {{page.stbdate}}</a>
</p>

<p><b>Devel Version</b>:
<a href="download/sendpage-{{page.devver_file}}.tar.gz">{{page.devver}} - {{page.devdate}}</a>
</p>

<UL>
	<p><a href="README.txt">README</a> <br>
	<a href="FEATURES.txt">Features</a> <br>
	<a href="Changes.txt">Changes</a><br>
	<a href="TODO.txt">To-do</a><br>
	<a href="THANKS.txt">Thanks</a> <br>
	<a href="sendpage.cf.txt">Example 'sendpage.cf' file</a>, with documented settings</p>
</UL>
