{% assign stbver = "1.0.3" %}
{% assign stbver_file = "1.000003" %}
{% assign stbdate = "2008-01-03" %}
{% assign devver = "1.1.1" %}
{% assign devver_file = "1.001001" %}
{% assign devdate = "2009-04-16" %}
<p><b>Stable Version</b>:
<a href="download/sendpage-{{stbver_file}}.tar.gz">{{stbver}} - {{stbdate}}</a>
</p>

<p><b>Devel Version</b>:
<a href="download/sendpage-{{devver_file}}.tar.gz">{{devver}} - {{devdate}}</a>
</p>

<UL>
	<p><a href="README.txt">README</a> <br>
	<a href="FEATURES.txt">Features</a> <br>
	<a href="Changes.txt">Changes</a><br>
	<a href="TODO.txt">To-do</a><br>
	<a href="THANKS.txt">Thanks</a> <br>
	<a href="sendpage.cf.txt">Example 'sendpage.cf' file</a>, with documented settings</p>
</UL>
