<UL>
<LI> To view the SourceForge project, check the
     <A href="http://sourceforge.net/projects/sendpage">Sendpage Project
     Page</a>
<LI> To download versions of sendpage, use 
     <A href="http://download.sourceforge.net/sendpage/">sourceforge</a>
     or use my <a href="download/">local mirror</a>.
<LI> To download versions of Device::SerialPort, use
     <A href="http://cpan.perl.org/">CPAN</a>
     or use my <a href="device-serialport/">local mirror</a>.
<LI> Searchable database list of known <a href="pc/">TAP Paging Centrals</a>
	world-wide.
<LI> If you have problems or need help with Sendpage, see if the
     <a href="http://sourceforge.net/mailarchive/forum.php?forum_id=4085">sendpage-devel
     mailing list archive</a> can help you.  I'm usually quick to answer any
     questions.
<LI> To read the TAP v1.8 specification, read either
        <ul>
        <li> the
             <a href="http://www.pcia.com/WirelessCenter/protocol/tapv1p8/">PCIA
             original</a>
        <li> the <a href="http://www.motorola.com/MIMS/MSPG/pcia_protocols/tap_v1p8/">Motorola mirror</a>
        </ul>
<LI> To read the SNPP specification, see
     <A href="http://www.ietf.org/rfc/rfc1861.txt?number=1861">RFC 1861</a>
<LI> To punish yourself, read the <A href="old">old sendpage web site</a>
<LI> If Sendpage isn't for you, check out some of the other gratis paging
     software solutions:
        <ul>
        <li> <a href="http://www.qpage.org/">QPage</a>
        <li> <A href="http://www.beepage.org/">Beepage</a>
        </ul>
<LI> If you have any other questions regarding Sendpage, please drop me
     an email at <A href="mailto:sendpage@outflux.net">sendpage@outflux.net</a>.
<LI> Companies and individuals that have told me they're using Sendpage:
 <UL>
  <LI> <a href="http://cpoint.net/">Counterpoint Networking</a> (a US
	ISP) uses it for network/system alerting, and as an email-to-pager
	gateway for employees.</LI>
  <LI> A big (unnamed) US energy company uses it for exhaust level 
	alerting.</LI>
  <LI> <a href="http://www.businessserve.co.uk/">Business Serve plc</a>
	(a UK ISP) uses it with Nagios for network/system
	alerting, and as an email-to-pager gateway for employees.</LI>
  <LI> A big (unnamed) tobacco company uses it for network/system alerting.</LI>
  <LI> <a href="http://osdl.org/">OSDL</a>, home to Linus Torvalds, uses
    it with Nagios for network/system alerting.  (I work here, too.)</LI>
 </UL> 
</LI>

</UL>
Kees Cook<br>
<a href="http://outflux.net/">my homepage</a><br>
<p>
Thanks to:
<ul>
  <a href="http://sourceforge.net/"><img align="center"
        src="http://sourceforge.net/sflogo.php?group_id=5008&type=1"
        height=31 width=88 alt="SourceForge" border=0></a> - for providing
        me with a nice project area.<br>
  <a href="http://www.wildharedesigns.com/">Jason Ernst</a> - for making me all
        those great raccoon images and the site redesign.<br>
</UL>
