              <ul>
                <li> <a href="http://www.perl.org/">Perl</a> 5.005 or better</li>
                <li> Perl module <a href="http://cpan.perl.org/modules/by-module/Device/">Device::SerialPort</a> 
                  version 0.12 or better (or Win32::SerialPort, untested) (I'm 
                  the maintainer for Device::SerialPort, so, you can also get 
                  a copy from me at my <a href="device-serialport/">local mirror</a>.) 
                </li>
                <li>Perl module <a href="http://cpan.perl.org/modules/by-module/Mail/">Mail::MailTools</a> 
                  version 1.08 or better. </li>
                <li>Perl module <a href="http://cpan.perl.org/modules/by-module/Net/">Net::SNPP</a> 
                  version 1.10 or better (actually part of the "libnet" bundle). 
                </li>
              </ul>
